:root {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bullet-width: 100px;
  --swiper-pagination-bullet-height: 6px;
  .swiper-pagination-bullet {
    border-radius: 0%;
  }
  --swiper-theme-color: rgba(163, 12, 51, 1);
}
body {
  width: 1250px;
  margin: 0 auto;
}
* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
header {
  border: 1px solid #d9d9d9;
  padding: 0px 70px 0px 70px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      li {
        &:hover {
          cursor: pointer;
        }
        p {
          font-weight: 600;
          font-size: 18px;
          line-height: 20px;
          color: #444444;
        }
      }
    }
  }
}
.header-img {
  padding-top: 158px;
  padding-left: 70px;
  height: 600px;
  background-image: url('./img/bg-header.svg');
  background-repeat: no-repeat;
  p {
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    color: #444444;
    margin-bottom: 60px;
  }
  button {
    border: none;
    width: 110px;
    height: 56px;
    background: #b01736;
    border-radius: 8px;
    &:hover {
      background: #d53152;
    }
    a {
      color: #fff;
      font-size: 18px;
    }
  }
}
#about {
  margin-top: 100px;
  .text {
    text-align: center;
    padding: 100px 110px 100px 110px;
    max-width: 1100px;
    max-height: 350px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 100px;
    span {
      color: #b01736;
    }
  }
  .images {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 185px;
    margin-bottom: 90px;
  }
}
#map {
  margin-bottom: 100px;
  .menu {
    display: flex;
    align-items: center;
    padding: 0 70px 0 70px;
    margin-bottom: 90px;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
    .choose {
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      .active {
        color: #a30c33;
        border-bottom: 3px solid #a30c33;
      }
      .btn {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        &:hover {
          cursor: pointer;
          color: #a30c33;
        }
      }
    }
  }
  .map-bg {
    height: 600px;
    background-image: url('./img/map (1).svg');
    background-repeat: no-repeat;
  }
}
#main {
  p {
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    text-align: center;
    color: #444444;
    margin-bottom: 55px;
  }
  .missions {
    display: flex;

    flex-direction: column;
    justify-content: center;
    background: #a30c33;
    text-align: center;
    height: 471px;
    margin-bottom: 100px;
    span {
      font-weight: 600;
      font-size: 56px;
      line-height: 100%;
      color: #ffffff;
      margin-bottom: 40px;
    }
    p {
      font-weight: 400;
      font-size: 32px;
      line-height: 150%;

      color: #ffffff;
    }
  }
  .directions {
    margin-bottom: 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    .img_1 {
      position: relative;
      display: flex;
      align-items: flex-end;
      &:hover {
        p {
          display: block;

          height: 100%;
          transition: 0.4s ease-out;
        }
        .dropdown-content {
          display: block;
          transition: 0.4s ease-in-out;

          height: 80%;
          padding-left: 20px;
          color: #fff;
        }
      }
      .dropdown-content {
        position: absolute;

        display: none;
      }
      p {
        transition: 0.2s;
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin: 0;
        height: 80px;
        width: 615px;
        text-align: left;
        background: rgba(45, 54, 83, 0.6);
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #fff;
      }
      width: 615px;
      height: 260px;
      background-repeat: no-repeat;
      background-image: url('./img/solutions.svg');
    }
    .img_2 {
      display: flex;
      align-items: flex-end;
      position: relative;
      &:hover {
        p {
          display: block;

          height: 100%;

          transition: 0.3s ease-out;
        }
        .dropdown-content {
          display: block;
          transition: all 0.4s;

          height: 80%;
          padding-left: 20px;
          color: #fff;
        }
      }
      .dropdown-content {
        position: absolute;

        display: none;
      }
      p {
        transition: 0.2s;
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin: 0;
        height: 80px;
        width: 615px;
        text-align: left;
        background: rgba(45, 54, 83, 0.6);
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #fff;
      }
      width: 615px;
      height: 260px;
      background-repeat: no-repeat;
      background-image: url('./img/security.svg');
    }
    .img_3 {
      display: flex;
      align-items: flex-end;
      position: relative;
      &:hover {
        p {
          display: block;

          height: 100%;

          transition: 0.3s ease-out;
        }
        .dropdown-content {
          display: block;
          transition: all 0.4s;

          height: 80%;
          padding-left: 20px;
          color: #fff;
        }
      }
      .dropdown-content {
        position: absolute;

        display: none;
      }
      p {
        transition: 0.2s;
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin: 0;
        height: 80px;
        width: 615px;
        text-align: left;
        background: rgba(45, 54, 83, 0.6);
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #fff;
      }
      width: 615px;
      height: 260px;
      background-repeat: no-repeat;
      background-image: url('./img/import.svg');
    }
    .img_4 {
      position: relative;
      display: flex;
      align-items: flex-end;
      &:hover {
        p {
          display: block;

          height: 100%;

          transition: 0.3s ease-out;
        }
        .dropdown-content {
          display: block;
          transition: all 0.4s;

          height: 80%;
          padding-left: 20px;
          color: #fff;
        }
      }
      .dropdown-content {
        position: absolute;

        display: none;
      }
      p {
        transition: 0.2s;
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin: 0;
        height: 80px;
        width: 615px;
        text-align: left;
        background: rgba(45, 54, 83, 0.6);
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #fff;
      }
      width: 615px;
      height: 260px;
      background-repeat: no-repeat;
      background-image: url('./img/cloud.svg');
    }
    .img_5 {
      position: relative;
      display: flex;
      align-items: flex-end;
      &:hover {
        p {
          display: block;

          height: 100%;

          transition: 0.3s ease-out;
        }
        .dropdown-content {
          display: block;
          transition: all 0.4s;

          height: 80%;
          padding-left: 20px;
          color: #fff;
        }
      }
      .dropdown-content {
        position: absolute;

        display: none;
      }
      p {
        transition: 0.2s;
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin: 0;
        height: 80px;
        width: 615px;
        text-align: left;
        background: rgba(45, 54, 83, 0.6);
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #fff;
      }
      width: 615px;
      height: 260px;
      background-repeat: no-repeat;
      background-image: url('./img/development.svg');
    }
    .img_6 {
      position: relative;
      display: flex;
      align-items: flex-end;
      &:hover {
        p {
          display: block;

          height: 100%;

          transition: 0.3s ease-out;
        }
        .dropdown-content {
          display: block;
          transition: all 0.4s;

          height: 80%;
          padding-left: 20px;
          color: #fff;
        }
      }
      .dropdown-content {
        position: absolute;

        display: none;
      }
      p {
        transition: 0.2s;
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin: 0;
        height: 80px;
        width: 615px;
        text-align: left;
        background: rgba(45, 54, 83, 0.6);
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #fff;
      }
      width: 615px;
      height: 260px;
      background-repeat: no-repeat;
      background-image: url('./img/tech_sup.svg');
    }
  }
}

#benefits {
  margin-bottom: 100px;
  .container {
    margin: 0 auto;
    padding-top: 80px;
    width: 1110px;
    height: 856px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
    p {
      font-weight: 600;
      font-size: 56px;
      line-height: 100%;
      text-align: center;
      margin-bottom: 50px;
      color: #444444;
    }
    .content {
      margin: 0 auto;
      width: 1050px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 85px;
      border-bottom: 1px solid #f4f4f4;
      margin-bottom: 70px;
      img {
        width: 140px;
        height: 140px;
        padding-bottom: 70px;
      }
    }
    .benefits-bottom {
      text-align: center;
      .content {
        margin-top: 50px;
        border: none;
        gap: 80px;
      }

      p {
        margin-bottom: 0px;
        text-align: center;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: #444444;
      }
      span {
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;

        color: #b01736;
      }
    }
  }
}

#slider {
  position: relative;
  p {
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    color: #444444;
    margin-bottom: 50px;
  }
  .swiper {
    position: relative;
    width: 1300px;
    .swiper-slide {
      text-align: center;
      font-size: 18px;

      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        object-fit: cover;
      }
    }
  }
  .swiper-button-next {
    top: 60%;
    right: 50px !important;
    left: auto;
  }
  .swiper-button-prev {
    top: 60%;
    left: 70px !important;
    right: auto;
  }
}
